.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 48px;
  padding: 32px 0;
}

.subContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
}

.sectionContainer {
  width: 100%;
}
