.root {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 10000;
  background-color: var(--colorNeutralBackground1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 0 24px;
  border-radius: 0 0 8px 8px;
}

.leftSection {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navLinks {
  display: flex;
  gap: 8px;
  padding-left: 32px;
}

.hamburgerButton {
  display: none;
}

@media (max-width: 900px) {
  .navLinks {
    display: none;
  }

  .hamburgerButton {
    display: flex;
  }

  .searchBarWrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  .rightSection {
    gap: 8px;
  }
}
