.logoLink {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  font-size: 16px;
  color: var(--ui-TextPrimary);
  text-decoration-line: none;
  cursor: pointer;
  outline-style: none;
}

.logoLink:hover .logoIcon {
  transform: translateY(-2px);
  color: var(--brand-Hover);
}

.logoLink:hover .logoText {
  color: var(--ui-TextPrimary);
}

.logoIcon {
  display: flex;
  align-items: center;
  color: var(--brand-Primary);
  font-size: 24px;
  transition-property: transform, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.logoText {
  line-height: 1.2;
  color: var(--ui-TextPrimary);
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
