.empty,
.slash {
  position: relative;
}

.empty::before {
  content: "Press '/' for commands...";
  position: absolute;
  left: 0;
  top: 0;
  color: var(--ui-TextCaption);
  pointer-events: none;
  opacity: 0.5;
}

.slash::after {
  content: "Filter...";
  color: var(--ui-TextCaption);
  pointer-events: none;
  opacity: 0.5;
}
