.headerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.headerAction {
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
