.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--ui-Canvas);
  overflow: hidden;
}

.scrollContainer {
  flex: 1;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.gridContainer {
  display: grid;
  position: relative;
  min-width: 640px;
}

@media (max-width: 768px) {
  .gridContainer {
    min-width: 100%;
  }
}

.dayColumn {
  position: relative;
  border-right: 1px solid var(--ui-Divider);
}

.dayColumn:last-child {
  border-right-width: 0;
}

.pastDay {
  background-color: var(--ui-PageBackground);
  opacity: 0.7;
}
